.searchForm-wrapper {
    display: flex;
    flex-direction: row;
    height: 48px;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}

.button {
    width: 148px;
}

.indicator {
    width: 24px;
    height: 24px;
}
