$primary: #452f7e;
$primaryDark: #372665;
$lightPurple: #765ca1;
$white: #fff;
$black: #20162d;
$darkGrey: #a49dad;
$darkGrey120: #908a97;
$dark: #20162d;

$green: #2ebfa5;
$green60: #81d8c9;
$green120: #259984;
$lightGreen: #ddf5f1;
$greyDark: #dadada;
$greyLight: #e5e5e5;

$pinkGray: #f5f4f6;
$warning: #ff6559;
$light-dark: #edf5ff;
$gray: #eceaf2;

// server setup guide
$purple: #9370eb;
$childDarkPurple: #4b3c74;
$serverDark: #37254d;
$childLightPurple: #7552d0;
$addtionalRed: #f03f5f;

$borderColor: #dddddd;

$pubBackground: #f8f8f8;
$lightGray: #ededed;
$deepGray: #e6e6e6;

$contentColorPrimary: #212121;
$contentColorSecondary: #6b6b6b;
$highlightBackgroundColorSecondary: #ededed;
$grayDark: #adadad;
$yellowDark: #d7b743;
$priBlue: #1976d2;
