@import "../../../styles/breakpoint";

.filter-wrapper {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 270px;
}

.toggle {
    margin: 0;
    height: auto;
}

.content {
    width: 270px;
    margin-top: 20px;
    border-radius: 8px;
}

@include breakpoint("max-md") {
    .filter-wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}
